<main class="cart__container">
  <div>
    <h1 class="cart__title">Detalle del Carrito</h1>
  </div>

  <div class="cart__productList">
{{#each detailedCart}}
  <div class="cart__productCard">
    <div class="cart__cardProduct__image">
      <img src="{{this.thumbnail}}" alt="{{this.title}}" />
    </div>
    <div>
      <h3 class="cart__nombreProducto">{{this.title}}</h3>
      <p class="cart__detalleProducto">{{this.description}}</p>
      <p class="cart__detalleProducto">Precio: ${{this.price}}</p>
      <p class="cart__detalleProducto">Cantidad: {{this.quantity}}</p>
    </div>
    <div class="cart__cardProduct__delete">
        <button class="cart__btnDelete">X</button>
    </div>
  </div>
{{else}}
  <p>No hay productos en el carrito.</p>
{{/each}}
  </div>
</main>

